span.searchResult
{
    text-align: center;
    display: inline-block;
    width: 200px;
    vertical-align: text-bottom;

}
div.sidebar
{
    border-style: solid;
    /*width: 430px;*/
}

div.searchResult
{
    border-style: solid;
    width: 800px;
}

div.summaryview
{
    border-style: solid;
    width: 800px;
    padding:20px;
}
td.price
{
    text-align: right;   
}

div.detailsviewbutton
{    
    float:right;
    padding: 0;
    margin: auto;
    width: 28%;
 }

div.price
{
    padding: 20px;
    float: right;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    width: 200px;

}

div.detailsview
{
    border-style: solid;
    border-width: thin;
    width: 800px;
    padding: 20px;
}

table.b {
    border: 1px solid black;
    border-collapse: collapse;
     table-layout: fixed;
     width: 800px;
}

td.b
{
    border: 1px solid black;
}
.debug{border-style: solid;border-color: blue;}
.flexParent{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.sidebar{
    height: 100%;
}
.mainContent{
    flex:1;
    height: 100%;
}
@media only screen and (max-width: 768px) {
    .flexParent{flex-direction: column;}
}
@media only screen and (max-width: 400px) {
    
}