span.searchResult
{
    text-align: center;
    display: inline-block;
    width: 200px;
    vertical-align: text-bottom;

}
div.sidebar
{
   width: available;
}

div.searchResult
{
    border-style: solid;
    width: 800px;
}

div.summaryview
{
   
}
td.price
{
    text-align: right;   
}

div.detailsviewbutton
{    
    float:right;
    padding: 0;
    margin: auto;
    width: 28%;
 }

div.price
{
    padding: 20px;
    float: right;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    width: 200px;

}

div.detailsview
{
    border-style: solid;
    border-width: thin;
    width: 800px;
    padding: 20px;
}

table.b {
    border: 1px solid black;
    border-collapse: collapse;
     table-layout: fixed;
     width: available;
}

td.b
{
    border: 1px solid black;
}
.debug{border-style: solid;border-color: rgb(0, 0, 0); border-width: thin; padding: 10px; height: available}
.flexParent{
    display: flex;
    flex-direction: row;
    height: 100%;
    
}
.sidebarContent{
    

}
.mainContent{
    flex:1;
    margin-left: 20px;

}
.hidden{
    display:none;
}
@media only screen and (max-width: 768px) {
    .flexParent{flex-direction: column;}
    .mainContent{
        margin-left: 0px;
        width:available;
                }

.debug{width: available}
.sidebarContent{width: available}
        
}


@media only screen and (max-width: 400px) {
    
}


.hidden
{
 display:none;   
}